version: "3.9"
services: 
  web:
    image: leaderboard:latest
    restart: on-failure
    ports: 
      - "8000:8000"
    volumes: 
      - .:/src
    depends_on: 
      - postgres
    environment: 
      - POSTGRES_USERNAME=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_IP=postgres:5432
  
  postgres:
    image: postgres:13.2
    restart: on-failure
    environment: 
      - POSTGRES_USERNAME=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres
    ports:
      - "5432:5432"