apiVersion: v1
kind: ConfigMap
metadata: 
  name: redis
  labels:
    app: redis
data:
  redis.conf: "bind 0.0.0.0"
---
apiVersion: apps/v1  
kind: Deployment
metadata:
  name: redis
  labels:
    app: redis       
spec:
  selector:
    matchLabels:     
      app: redis
  replicas: 1        
  template:          
    metadata:
      labels:       
        app: redis
    spec:            
      containers:
      - name: master
        image: redis:latest
        command:
          - redis-server
          - /conf/redis.conf
        resources:
          limits:
            cpu: "1"
            memory: 4Gi
          requests:
            cpu: "1"
            memory: 2Gi
        ports:
        - containerPort: 6379
        env:
          - name: REDIS_HOST
            value: redis
        volumeMounts:
          - name: conf
            mountPath: /conf
            readOnly: false
      volumes:
      - name: conf
        configMap:
          name: redis
          defaultMode: 0755
---        
apiVersion: v1
kind: Service        
metadata:
  name: redis
  labels:            
    app: redis
spec:
  ports:
  - port: 6379       
    targetPort: 6379
  selector:          
    app: redis  
